[submodule "submodules/blaze-api"]
	path = submodules/blaze-api
	url = https://github.com/geniusrabbit/blaze-api
[submodule "submodules/archivarius"]
	path = submodules/archivarius
	url = https://github.com/geniusrabbit/archivarius
